.profile {
    max-width: 450px;
    margin: auto;
    padding-top: 74px;
    padding-bottom: 70px;
}
@media screen and (max-width: 320px) {
    .profile {
        max-width: 286px;
    }
}
.profile__title {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 123px;
    color: #000;
}
.profile__containers {
    max-width: 90%;
    margin: auto;
}
.profile__container_type_name {
    padding-bottom: 16px;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
}
.profile__name {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #000;
    border: none;
}
.profile__container_type_email {
    padding-top: 17px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 220px;
}
.profile__email {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #000;
    border: none;
}
.profile__container_type_button {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.profile__button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    border: none;
    background-color: #fff;
    color: #000;
}
.profile__button:hover {
    opacity: 0.6;
}
.profile__button_type_exit {
    margin-top: 16px;
    border: none;
    color: #EE3465;
}
.profile__button_type_exit:hover {
    opacity: 0.6;
}