.profile {
    max-width: 450px;
    margin: auto;
    padding-top: 74px;
    padding-bottom: 70px;
}
@media screen and (max-width: 320px) {
    .profile {
        max-width: 286px;
    }
}
.profile__title {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 123px;
    color: #000;
}
.profile__containers {
    max-width: 90%;
    margin: auto;
}
.profile__container_type_name {
    padding-bottom: 16px;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
}
.profile__name {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #000;
    border: none;
}
.container-err {
    display: block;
}
.profile__name_active {
    text-align: right;
    border: none;
}
.profile__container_type_email {
    padding-top: 17px;
    display: flex;
    justify-content: space-between;
    
}
.profile__email {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #000;
    border: none;
}
.profile__email_active {
    text-align: right;
    border: none;
}
.profile__error {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: red;
    margin-top: 7px;
}
.profile__container_type_button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 220px;
}
.profile__button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    border: none;
    background-color: #fff;
    color: #000;
}
.profile__submit-button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    border: none;
    background-color: #fff;
    color: #000;
}
/* .profile__submit-button_type_error {} */
.profile__submit-button:hover {
    opacity: 0.6;
}
.profile__text-error {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #FF004C;
    margin-bottom: 20px;
}
/* .form__submit-button {
    width: 100%;
    height: 46px;
    margin-top: 134px;
    text-align: center;
    background: #2BE080;
    border-radius: 3px;
    border: none;
    font-family: "Inter",Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    display: block;
}
.form__submit-button:hover {
    opacity: 0.6;
}
@media screen and (max-width: 768px) {
    .form__submit-button {
        margin-top: 128px;
    }
}
@media screen and (max-width: 320px) {
    .form__submit-button {
        margin-top: 206px;
        font-size: 12px;
        line-height: 15px;
    }
} */
.profile__button_type_link {
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.profile__button_type_exit {
    margin-top: 16px;
    border: none;
    color: #EE3465;
}
.profile__button_type_exit:hover {
    opacity: 0.6;
}