.card-list {
    max-width: 1280px;
    padding: 0px;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 360px);
    column-gap: 30px;
    row-gap: 31px;
    list-style-type: none;
}
.card-text {
    text-align: center;
    color: #000;
}
@media screen and (max-width: 1170px) {
    .card-list {
        grid-template-columns: repeat(2, 339px);
    }
}
@media screen and (max-width: 750px) {
    .card-list {
        grid-template-columns: 339px;
    }
}
@media screen and (max-width: 440px) {
    .card-list {
        padding-top: 105px;
        grid-template-columns: 300px;
    }
}
